

@media only screen and (min-width: 425px) {
    .header__right h1 {
        font-size: 36px;
    }

    .header-p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    .features-section h2 {
        font-size: 36px;
    }

    .features-section p {
        font-size: 15px;
        padding: 0 42px;
    }

    .one-click p {
        padding: 0 38px;
    }

    .extension h2 {
        font-size: 29px;
    }

    .extension p {
        font-size: 16px;
        padding: 0px 22px;
    }

    .frequently-div h2{
        font-size: 28px;
    }

    .frequently-div p{
        font-size: 16px;
        padding: 0px 21px;
    }

    .list-frequently li {
        font-size: 16px;
    }

    .joined {
        padding: 60px 50px;
    }

    .joined-div h2 {
        font-size: 25px;
    }    
}

@media only screen and (min-width: 768px) {

    .menu {
        width: 76%;
        margin: 0 auto;
    }

    .icon-hamburger {
        display: none;
    }

    .menu__div{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .menu__div ul {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .menu__div ul li{
        padding: 0 20px;
    }

    .menu__div ul li a {
        text-decoration: none;
        color: hsl(233deg 33% 20%);
        font-family: 'Rubik', sans-serif;
    }


    .menu__div ul li a:hover{
        color: hsl(233deg 33% 20% / 50%);
    }


    .login {
        background-color: hsl(0deg 95% 66%);
        padding: 10px 20px;
        color: white !important;
        border-radius: 5px;
        border: 2px solid transparent;
    }

    .login:hover {
        background-color: transparent;
        border: 2px solid hsl(0deg 95% 66%);
        color: hsl(0deg 95% 66%) !important;
    }

    .header__div{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .header__left > div {
        width: 70%;
        border-bottom-left-radius: 174px;
    }

    .header__right {
        text-align: left;
        max-width: 500px;
    }

    .div-btn {
        margin: 0;
        margin-top: 20px;
        width: 420px;
    }

    .header__right h1 {
        font-size: 51px;
    }

    .header-p {
        font-size: 18px;
    }

    .list li {
        border: none;
    }

    .list li:first-of-type{
        border-top: none;
    }

    .list {
        border-bottom: 1px solid #d0cdcd;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 514px;
        margin: 0 auto;
    }

    .features {
        width: 524px;
        margin: 0 auto;
    }

    .list li::after {
        content: '';
        width: 190px;
    }

    .flx {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .more-info{
        display: block;
        border: none;
        padding: 15px 24px;
        background: #5267df;
        color: white;
        border-radius: 5px;
        margin-top: 24px;
        font-size: 16px;
    }

    .one-click {
        text-align: left;
    }

    .one-click p {
        padding: 0;
    }

    .features-img {
        width: 80%;
        margin-left: 75px;
    }

    .features-bg > div {
        bottom: -53px;
        border-bottom-right-radius: 36%;
    }

    .row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 500px;
    }

    .col {
        margin-right: 30px;
    }

    .col:last-of-type {
        margin-right: 0;
    }

    .col-2{
        -webkit-transform: translateY(50px);
                transform: translateY(50px);
    }

    .col-3{
        -webkit-transform: translateY(100px);
                transform: translateY(100px);
    }

    .frequently{
        width: 500px;
    }
    
    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-top: 30px;
    }

    .joined-div input[type='text']{
        padding: 10px 11px 13px 16px;
        margin-top: 0;
        width: 320px;
    }

    .joined-div input[type='submit']{
        margin-top: 0;
        margin-left: 20px;
        height: 48px;
    }

    .joined-div h2 {
        width: 324px;
        margin: 35px auto;
    }

    .footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 30px 0 18px 0px;
    }

    .footer ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .footer ul li {
        padding: 0px 20px;
        font-size: 15px;
        line-height: 27px;
    }

    .list li:hover:after {
        background: hsl(0, 94%, 66%);
    }
}

@media only screen and (min-width: 1440px) {
    .header__div {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .header__right {
        margin-left: 100px;
    }
}